openapi: 3.1.0
info:
  description: API for managing places and their classes.
  title: Place Service API
  version: 0.0.1
servers:
- url: /
paths:
  /test:
    post:
      description: Test
      responses:
        "201":
          description: successfully
      tags:
      - Test
components:
  schemas:
    CreatePlace:
      properties:
        data:
          $ref: "#/components/schemas/CreatePlace_data"
      required:
      - data
    UpdatePlace:
      properties:
        data:
          $ref: "#/components/schemas/UpdatePlace_data"
      required:
      - data
    UpdateClassForPlace:
      properties:
        data:
          $ref: "#/components/schemas/UpdateClassForPlace_data"
      required:
      - data
    VerifyPlace:
      properties:
        data:
          $ref: "#/components/schemas/VerifyPlace_data"
      required:
      - data
    UpdatePlaceStatus:
      properties:
        data:
          $ref: "#/components/schemas/UpdatePlaceStatus_data"
      required:
      - data
    CreatePlaceClass:
      properties:
        data:
          $ref: "#/components/schemas/CreatePlaceClass_data"
      required:
      - data
    UpdatePlaceClass:
      properties:
        data:
          $ref: "#/components/schemas/UpdatePlaceClass_data"
      required:
      - data
    ReplacePlaceClass:
      properties:
        data:
          $ref: "#/components/schemas/ReplacePlaceClass_data"
      required:
      - data
    PaginationData:
      properties:
        self:
          description: link to the current page
          format: uri
          type: string
        first:
          description: link to the first page
          format: uri
          type: string
        last:
          description: link to the last page
          format: uri
          type: string
        prev:
          description: link to the previous page
          format: uri
          type: string
        next:
          description: link to the next page
          format: uri
          type: string
      required:
      - self
    Place:
      properties:
        data:
          $ref: "#/components/schemas/Place_data"
      required:
      - data
    PlacesCollection:
      properties:
        data:
          items:
            $ref: "#/components/schemas/Place/properties/data"
          type: array
        links:
          $ref: "#/components/schemas/PaginationData"
      required:
      - data
      - links
    Class:
      properties:
        data:
          $ref: "#/components/schemas/Class_data"
      required:
      - data
    ClassesCollection:
      properties:
        data:
          items:
            $ref: "#/components/schemas/Class/properties/data"
          type: array
        links:
          $ref: "#/components/schemas/PaginationData"
      required:
      - data
      - links
    point:
      properties:
        latitude:
          description: The latitude coordinate of the place
          format: float64
          type: number
        longitude:
          description: The longitude coordinate of the place
          format: float64
          type: number
      required:
      - latitude
      - longitude
    data:
      properties:
        id:
          description: place ID
          format: uuid
          type: string
        type:
          enum:
          - place_class
          type: string
        attributes:
          $ref: "#/components/schemas/Class_data_attributes"
        relationships:
          $ref: "#/components/schemas/Class_data_relationships"
      required:
      - attributes
      - id
      - type
    CreatePlace_data_attributes_point:
      properties:
        latitude:
          description: The latitude coordinate of the place
          format: float64
          type: number
        longitude:
          description: The longitude coordinate of the place
          format: float64
          type: number
      required:
      - latitude
      - longitude
    CreatePlace_data_attributes:
      properties:
        class_id:
          description: The ID of the class this place belongs to
          format: uuid
          type: string
        organization_id:
          description: The ID of the organization this place belongs to
          format: uuid
          type: string
        point:
          $ref: "#/components/schemas/CreatePlace_data_attributes_point"
        address:
          description: The physical address of the place
          type: string
        name:
          description: The name of the place
          type: string
        description:
          description: A brief description of the place
          type: string
        icon:
          description: A URL to an icon representing the place
          format: uri
          type: string
        banner:
          description: A URL to a banner image for the place
          format: uri
          type: string
        website:
          description: The website URL of the place
          format: uri
          type: string
        phone:
          description: The contact phone number of the place
          type: string
      required:
      - address
      - class_id
      - name
      - point
    CreatePlace_data:
      properties:
        type:
          enum:
          - create_place
          type: string
        attributes:
          $ref: "#/components/schemas/CreatePlace_data_attributes"
      required:
      - attributes
      - type
    UpdatePlace_data_attributes:
      properties:
        class_id:
          description: The ID of the class this place belongs to
          format: uuid
          type: string
        status:
          description: "The status of the place (e.g., active, inactive)"
          type: string
        address:
          description: The physical address of the place
          type: string
        name:
          description: The name of the place
          type: string
        description:
          description: A brief description of the place
          type: string
        icon:
          description: A URL to an icon representing the place
          format: uri
          type: string
        banner:
          description: A URL to a banner image for the place
          format: uri
          type: string
        website:
          description: The website URL of the place
          format: uri
          type: string
        phone:
          description: The contact phone number of the place
          type: string
    UpdatePlace_data:
      properties:
        id:
          description: The unique identifier of the place to be updated
          format: uuid
          type: string
        type:
          enum:
          - update_place
          type: string
        attributes:
          $ref: "#/components/schemas/UpdatePlace_data_attributes"
      required:
      - attributes
      - id
      - type
    UpdateClassForPlace_data_attributes:
      properties:
        class_id:
          description: The ID of the class this place belongs to
          format: uuid
          type: string
      required:
      - class_id
    UpdateClassForPlace_data:
      properties:
        id:
          description: The ID of the place to update
          format: uuid
          type: string
        type:
          enum:
          - update_place_class
          type: string
        attributes:
          $ref: "#/components/schemas/UpdateClassForPlace_data_attributes"
      required:
      - attributes
      - id
      - type
    VerifyPlace_data_attributes:
      properties:
        verify:
          description: Indicates whether the place has been verified
          type: boolean
      required:
      - verify
    VerifyPlace_data:
      properties:
        type:
          enum:
          - update_place_verify
          type: string
        attributes:
          $ref: "#/components/schemas/VerifyPlace_data_attributes"
      required:
      - attributes
      - type
    UpdatePlaceStatus_data_attributes:
      properties:
        status:
          description: The new status of the place
          type: string
      required:
      - status
    UpdatePlaceStatus_data:
      properties:
        id:
          description: The unique identifier of the place
          format: uuid
          type: string
        type:
          enum:
          - update_place_status
          type: string
        attributes:
          $ref: "#/components/schemas/UpdatePlaceStatus_data_attributes"
      required:
      - attributes
      - id
      - type
    CreatePlaceClass_data_attributes:
      properties:
        parent_id:
          description: "The ID of the parent class, if any"
          format: uuid
          type: string
        code:
          description: The unique code of the class
          example: japanese_cuisine
          type: string
        name:
          description: The name of the class
          type: string
        description:
          description: A brief description of the class
          type: string
        icon:
          description: A URL to an icon representing the class
          format: uri
          type: string
      required:
      - code
      - description
      - name
    CreatePlaceClass_data:
      properties:
        id:
          description: place ID
          format: uuid
          type: string
        type:
          enum:
          - place_class_create
          type: string
        attributes:
          $ref: "#/components/schemas/CreatePlaceClass_data_attributes"
      required:
      - attributes
      - id
      - type
    UpdatePlaceClass_data_attributes:
      properties:
        parent_id:
          description: The ID of the parent class
          format: uuid
          type: string
        code:
          description: The unique code of the class
          example: japanese_cuisine
          type: string
        name:
          description: The name of the class
          type: string
        description:
          description: A brief description of the class
          type: string
        icon:
          description: A URL to an icon representing the class
          format: uri
          type: string
    UpdatePlaceClass_data:
      properties:
        id:
          description: place ID
          format: uuid
          type: string
        type:
          enum:
          - place_class_update
          type: string
        attributes:
          $ref: "#/components/schemas/UpdatePlaceClass_data_attributes"
      required:
      - attributes
      - id
      - type
    ReplacePlaceClass_data_attributes:
      properties:
        class_replace_id:
          description: The ID of the class to replace with
          format: uuid
          type: string
      required:
      - class_replace_id
    ReplacePlaceClass_data:
      properties:
        id:
          description: The unique identifier for the replace place class operation
          format: uuid
          type: string
        type:
          enum:
          - replace_place_class
          type: string
        attributes:
          $ref: "#/components/schemas/ReplacePlaceClass_data_attributes"
      required:
      - attributes
      - id
      - type
    Place_data_attributes:
      properties:
        status:
          description: "The status of the place (e.g., active, inactive)"
          type: string
        verified:
          description: Indicates if the place has been verified
          type: boolean
        point:
          $ref: "#/components/schemas/CreatePlace/properties/data/properties/attributes/properties/point"
        address:
          description: The physical address of the place
          type: string
        name:
          description: The name of the place
          type: string
        description:
          description: A brief description of the place
          type: string
        icon:
          description: A URL to an icon representing the place
          format: uri
          type: string
        banner:
          description: A URL to a banner image for the place
          format: uri
          type: string
        website:
          description: The website URL of the place
          format: uri
          type: string
        phone:
          description: The contact phone number of the place
          type: string
        created_at:
          description: The date and time when the place was created
          format: date-time
          type: string
        updated_at:
          description: The date and time when the place was last updated
          format: date-time
          type: string
      required:
      - address
      - created_at
      - name
      - point
      - status
      - updated_at
      - verified
    Place_data_relationships_organization:
      properties:
        id:
          description: The ID of the organization associated with the place
          format: uuid
          type: string
        type:
          enum:
          - organization
          type: string
      required:
      - id
      - type
    Place_data_relationships_class:
      properties:
        id:
          description: The ID of the class associated with the place
          format: uuid
          type: string
        type:
          enum:
          - place_class
          type: string
      required:
      - id
      - type
    Place_data_relationships:
      properties:
        organization:
          $ref: "#/components/schemas/Place_data_relationships_organization"
        class:
          $ref: "#/components/schemas/Place_data_relationships_class"
      required:
      - class
    Place_data:
      properties:
        id:
          description: place ID
          format: uuid
          type: string
        type:
          enum:
          - place
          type: string
        attributes:
          $ref: "#/components/schemas/Place_data_attributes"
        relationships:
          $ref: "#/components/schemas/Place_data_relationships"
      required:
      - attributes
      - id
      - relationships
      - type
    Class_data_attributes:
      properties:
        code:
          description: The unique code of the class
          example: japanese_cuisine
          type: string
        name:
          description: The name of the class
          type: string
        description:
          description: A brief description of the class
          type: string
        icon:
          description: A URL to an icon representing the class
          format: uri
          type: string
        updated_at:
          description: The date and time when the class was last updated
          format: date-time
          type: string
        created_at:
          description: The date and time when the class was created
          format: date-time
          type: string
      required:
      - code
      - created_at
      - description
      - name
      - updated_at
    Class_data_relationships_parent:
      properties:
        id:
          description: The ID of the parent class
          format: uuid
          type: string
        type:
          enum:
          - place_class
          type: string
      required:
      - id
      - type
    Class_data_relationships:
      properties:
        parent:
          $ref: "#/components/schemas/Class_data_relationships_parent"
    Class_data:
      properties:
        id:
          description: place ID
          format: uuid
          type: string
        type:
          enum:
          - place_class
          type: string
        attributes:
          $ref: "#/components/schemas/Class_data_attributes"
        relationships:
          $ref: "#/components/schemas/Class_data_relationships"
      required:
      - attributes
      - id
      - type
